  <ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/signup" style="color: white;"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">
            <h1 class="centered-title">
                <ion-icon name="log-in-outline"></ion-icon> Login</h1>
        </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">
      <div class="form-group margin-form">
    <ion-list>
    <ion-item >
      <ion-label [ngClass]="{ 'has-error':  isSubmitted  && formControls.phone.errors }" position="floating">Phone<ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text"  formControlName="phone"> </ion-input>
    </ion-item>
    <span *ngIf=" !loginForm.controls.phone.valid && (loginForm.controls.phone.dirty || loginForm.controls.phone.touched)">
      <p style="color: rgb(216, 12, 12);">Enter your phone</p>
    </span>
    <ion-item>
      <ion-label [ngClass]="{ 'has-error':  isSubmitted  && formControls.password.errors }" position="floating">Password<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <span *ngIf=" !loginForm.controls.password.valid&& (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
      <p style="color: rgb(216, 12, 12);">Enter your password</p>
    </span>
     </ion-list>
    </div>
     <div class="form-group">
     <div class="alert alert-danger"
     role="alert"
     *ngIf="isSubmitted && isLoginFailed"
   >
   <div class="ion-text-center" >  {{errorMessage}} </div>
   </div>
  </div>
       <ion-button type="submit" expand="block" shape="round" >Login</ion-button>
   <div>
        <span class="ion-float-left">
        <ion-checkbox checked="false" slot="start" color= "dark"
        formControlName="remember"></ion-checkbox> <ion-label>Remember me </ion-label>
      </span>
      <span class="ion-float-right">
         <a  routerLink="/reset-password" style="text-decoration: underline;" > Forgot password? </a>
      </span>
    </div>
    </form>
  </ion-content>
