
ion-header ion-toolbar{
  --background: var(--ion-item-background, var(--ion-background-color, #382574));
}
ion-toolbar ion-icon{
color: white;
}
ion-title {
color:white;
font-size: 30px;
}
h1{
  color: #ffffff;
}
.margin-form{
  margin-top: 80px;
}
ion-item {
margin-top:20px;
margin-bottom:30px;
margin-left:65px;
margin-right:65px;
//border-bottom: 0.7px solid;

}
ion-button {
 margin-bottom:25px;
 margin-left:70px;
 margin-right:70px;
--background: #382574;
}
.login-button-color{
  --background: #382574;
}
ion-checkbox {
 color:#382574;
 margin-left:5px;
 background-color:#382574;
}

h1 {
  width: 200px;
}
.ion-text-center{
color: rgb(216, 12, 12);;
font-size: 17px;

}
.ion-float-right{
  margin-top:7.5px;
  margin-right: 5px;
}


