<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/login" style="color: white;"></ion-back-button>
      </ion-buttons>
      <ion-title class="centered-title ion-text-center">
        <h1>  <ion-icon name="lock-closed-outline"></ion-icon>  Reset password </h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   <ion-slides #resetSlider pager>
    <ion-slide>
      <ion-list>
        <form [formGroup]="slideOneForm">
          <ion-item>
            <ion-label position="floating" style="color:#382574;">Phone</ion-label>
            <ion-input formControlName="phone" type="phone" [class.invalid]="!slideOneForm.controls.phone.valid && (slideOneForm.controls.phone.dirty || submitAttempt)"></ion-input>
          </ion-item>
          <span *ngIf="!slideOneForm.controls.phone.valid  && (slideOneForm.controls.phone.dirty || slideOneForm.controls.phone.touched)">
            <p style="color: rgb(216, 12, 12);">Enter your phone</p>
          </span>
          <div class="form-group">
            <div class="alert alert-danger"
            role="alert"
            *ngIf="slideOneForm.controls.phone.valid && (slideOneForm.controls.phone.dirty || submitAttempt)"
          >
          <div class="ion-text-center" >  {{errorMessage}} </div>
          </div>
         </div>
         <ion-buttons slot="end">
          <ion-button [disabled]="verifPhone()"  (click)="next($event)" id="phone" style="--background:#382574;" class="arrow-forward next-phone">Next<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </ion-buttons>
          </form>
        </ion-list>
      </ion-slide>
       <ion-slide>
          <ion-list>
            <form [formGroup]="slideOneForm">
            <ion-item>
              <ion-label position="floating" style="color:#382574;">Code</ion-label>
              <ion-input  #code (keyup)="verifyCode(code.value)"  formControlName="code" type="text"></ion-input>
            </ion-item>
            <span *ngIf="!slideOneForm.controls.code.valid  && (slideOneForm.controls.code.dirty || slideOneForm.controls.code.touched)">
                        <p style="color:rgb(216, 12, 12);">Enter the code</p>
                        </span>

            <ion-buttons>
              <ion-button (click)="prev()" style="--background:#382574;" class="arrow-back"><ion-icon name="arrow-back"></ion-icon> Prev</ion-button>
              <ion-button  [disabled]="disabled" id="code" style="--background:#382574;" class="arrow-forward" (click)="next($event)">Next <ion-icon name="arrow-forward"></ion-icon></ion-button>
            </ion-buttons>
            </form>
          </ion-list>
      </ion-slide>
      <ion-slide>
        <ion-list>
            <form [formGroup]="slideOneForm">
                <ion-item>
                  <ion-label position="floating" style="color:#382574;">New Password</ion-label>
                    <ion-input [class.invalid]="!slideOneForm.controls.password.valid && (slideOneForm.controls.password.dirty || submitAttempt)" formControlName="password" type="password"></ion-input>
                </ion-item>
                <span *ngIf="slideOneForm.controls.password.pending">
                 <p>Checking password...</p>

            </span>
                <ion-item>
                  <ion-label position="floating" style="color:#382574;">Confirm Password</ion-label>
                  <ion-input [class.invalid]="!slideOneForm.controls.password.valid && (slideOneForm.controls.password.dirty || submitAttempt)" formControlName="confirmPassword" type="password"></ion-input>
                </ion-item>
                <ion-item no-lines *ngIf="( slideOneForm.get('confirmPassword').hasError('equalTo') || slideOneForm.get('confirmPassword').hasError('required') ) && slideOneForm.get('confirmPassword').touched">

                </ion-item>
                <p class="error" *ngIf="slideOneForm.get('confirmPassword').hasError('equalTo') && slideOneForm.get('confirmPassword').touched">
                  Confirm Password
                  </p>
            </form>

          </ion-list>
           <ion-buttons slot="start">
            <ion-button (click)="prev()" style="--background:#382574;" class="arrow-back pass-back"><ion-icon slot="start" name="arrow-back"></ion-icon> Prev</ion-button>
            <ion-button expand="full" [disabled]="slideOneForm.invalid" class="bouton-change" (click)="update()"> <ion-icon name="refresh-circle-outline"></ion-icon> Change </ion-button>

          </ion-buttons>

        </ion-slide>
      </ion-slides>

</ion-content>
