<!-- student-create.html -->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/add-payment-method"></ion-back-button>
        </ion-buttons>
        <ion-title text-center>
            <h1 class="centered-title">
                Add Credit Card</h1>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-item>
        <ion-label>Name</ion-label>
        <ion-input [(ngModel)]="data.name" placeholder="Enter Name"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Card Number</ion-label>
        <ion-input [(ngModel)]="data.cardNumber" placeholder="Card Number"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>expiry</ion-label>
        <ion-input [(ngModel)]="data.expiry" placeholder="expiry"></ion-input>
    </ion-item>


    <ion-item>
        <ion-label>cvv</ion-label>
        <ion-input [(ngModel)]="data.cvv" placeholder="cvv"></ion-input>
    </ion-item>
    <div>
        <ion-button (click)="submitForm()">Save
        </ion-button>
    </div>
</ion-content>
