<ion-header>
  <ion-toolbar>
    <img src="./assets/taxi.png" alt="">
    <div></div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h1 class="ion-text-center">Sign up or Login here</h1>
    <p  class="ion-text-center">Using driver for free</p>
   </div>
   <div>
     <ion-card routerLink="/">
       <h4 >
         <img src="./assets/icon/index.png" alt=""> Sign in with Google
        </h4>
     </ion-card>
     <ion-card routerLink="/">
      <h4 >
        <img src="./assets/icon/Facebook.png" alt=""> Sign in with Facebook
       </h4>
    </ion-card>
    <ion-card routerLink="/">
      <h4>
        <img src="./assets/icon/apple.png" alt=""> Sign in with Apple
       </h4>
    </ion-card>
    <ion-card routerLink="/create-account">
      <h4 class="connect-phone">
         Sign in with Phone
       </h4>
    </ion-card>
   </div>
</ion-content>
