ion-toolbar div {
    border: 1px solid #382574;
}

h1 {
color: #382574;
}

ion-card img {
    width:25px;
    height: 16px;
    margin-left: 10px;
}

h4 {
    color:#000000;
    margin-left: 5px;
}

ion-card {
    margin-left: 0;
    margin-right: 0;
}

.connect-phone
{
    margin-left: 46px;
}