ion-header ion-toolbar {
    --background: #382574;
}

ion-icon {
    color:white;
}

ion-title {
    color:white;
}

h1 {
    width:200px
}
ion-list {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
}

div {
    text-align: center;
}

ion-button {
    --background:#382574;
    margin-top: 50px;
    width: 250px;
}

.fa-lock:before {
    margin-right:5px;
}

.error {
    color: red;
}