<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/settings" style="color: white;"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">
          <h1 class="centered-title">
            <i class="fa fa-lock" aria-hidden="true"></i> Edit password</h1>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()"> 
      <ion-item>
        <ion-label position="floating" style="color:#382574;">old password</ion-label>
        <ion-input type="password" #oldpassword (keyup)="verifyPassword(value)" formControlName="oldpassword"></ion-input>
      </ion-item>
      <p class="error" *ngIf="errorMessage">
        {{errorMessage}}
        </p>
      <ion-item>
        <ion-label position="floating" style="color:#382574;">New password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" style="color:#382574;">Confirm password</ion-label>
        <ion-input type="password" [class.invalid]="!passwordForm.controls.password.valid && (passwordForm.controls.password.dirty || submitAttempt)"  formControlName="confirmPassword"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( passwordForm.get('confirmPassword').hasError('equalTo') || passwordForm.get('confirmPassword').hasError('required') ) && passwordForm.get('confirmPassword').touched">
        <p class="error" *ngIf="passwordForm.get('confirmPassword').hasError('equalTo') && passwordForm.get('confirmPassword').touched">
        Confirm Password
        </p>
      </ion-item>
      <div>
        <ion-button type="submit" [disabled]="passwordForm.invalid">Validate</ion-button>
      </div>
  </form>
  </ion-list>
</ion-content>
