ion-header ion-toolbar{
    --background: #382574;
}
ion-icon{
    color:white;
}
ion-title{
    color:white;
}
h1 {
    width: 200px;
}
.toolbar-content
{
    background-color:red ;
}
ion-avatar{
margin: auto;
margin-top: 10px;
}
a{
    color:#382574;
    margin-top:0px;
}
ion-list{
    margin-left: 25px;
    margin-right: 25px;
}
ion-button{
--background:#382574;
margin-top: 50px;
width:255px;
}
div{
    text-align: center;
}